@font-face {
    font-family: Nexa-Regular;
    src: url("../fonts/Nexa\ Regular.otf");
}

@font-face {
    font-family: Nexa-Bold;
    src: url("../fonts/Nexa\ Bold.otf");
}

@font-face {
    font-family: Snap;
    src: url("../fonts/Snap.ttf");
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

a,
a:hover {
    text-decoration: none;
}

input:focus {
    outline: none;
}

.mainContent {
    background-image: url("../img/mainBgImg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header .commonWooden {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 22%;
    position: relative;
}

#header table {
    margin: auto;
    width: auto;
}

#login .inputDiv label {
    margin-bottom: 0px;
}

#header .commonWooden span.signInText {
    position: absolute;
    top: 27% !important;
    left: 28%;
    font-size: 13px;
    color: #fff;
    font-family: "Bangers", cursive;
    letter-spacing: 2px;
}

#header .commonWooden span.statisticsText {
    position: absolute;
    top: 27%;
    left: 33%;
    font-size: 13px;
    color: #fff;
    font-family: "Bangers", cursive;
    letter-spacing: 2px;
}
#header .statistics .statisticsText .commonBtn {
    margin: auto;
    position: relative;
    top: 34px;
    width: 148px;
}

#header .commonWooden span.paymentText {
    position: absolute;
    top: 27%;
    left: 29%;
    font-size: 13px;
    color: #fff;
    font-family: "Bangers", cursive;
    letter-spacing: 2px;
}

#header .logo h2 {
    font-family: "Bangers", cursive;
    text-align: center;
    color: #005f90;
    font-size: 50px;
}

#header .logo h2 span {
    font-size: 60px;
}

#header .logo {
    background-image: url("../img/logoBadge.png");
}

#header .loginForm {
    background-image: url("../img/group-33.png");
}

#header .statistics {
    background-image: url("../img/group-33.png");
}

/* #header .statistics button {
    position: absolute;
    bottom: 12%;
    left: 28%;
    background: transparent;
    border: none;
    color: #ffff;
    font-family: Nexa-Regular;
    font-size: 11px;
} */

#header .statistics button {
  
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
   
}

#header .payment {
    /* background-image: url("../img/payment.png"); */
    background-image: url("../img/group-33.png");
}

.board {
    background-image: url("../img/btnBoard.png");
}
#header .loginForm .inputDiv{
    cursor: pointer;
}
#header .loginForm .inputDiv input {
    width: 93%;
    font-family: Nexa-Regular;
    outline: none;
}

#header .loginForm .formDiv {
    padding-top: 50px;
}

#header .loginForm .inputDiv input {
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 7px;
}

#header .loginForm .inputDiv label {
    font-size: 12px;
    color: #00000085 !important;
    width: 100%;
    font-family: "Poppins", sans-serif !important;
    font-weight: 900;
    cursor: pointer;
}

#header .statistics.loginUser p {
    font-size: 12px;
    color: #00000085;
    font-family: "Poppins", sans-serif !important;
    font-weight: 900;
}

#header .loginForm .inputDiv {
    width: 100%;
    max-width: 80%;
    margin: auto;
}

.loginUser .inputDiv {
    text-align: center;
}

#header .loginForm .multiBtn {
    text-align: center;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#login_button,
button#register_button {
    padding-right: 15px;
}
#header .loginForm .multiBtn button {
    width: 70px;
    text-align: center;
    margin: 0px 5px;
    background: transparent;
    border: 0px solid #00000085;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border-radius: 3px;
    font-size: 12px;
}
#header .statistics p#allPartici {
    font-family: Nexa-Regular;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    /* padding: 5px 20px 8px 20px !important; */
    padding: 5px 20px 8px 20px !important;
    color: #00000085;
    position: relative;
    top: 48px !important;
    font-weight: 1000;
    font-family: "Poppins", sans-serif;
}
#header .statistics #commonBtn{
    max-width: 50% !important;
    position: relative;
    top: 42px;
}
#header .statistics p {
    font-family: Nexa-Regular;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 5px !important;
    /* padding: 16px 20px 7px 20px !important; */
    color: #00000085;
    position: relative;
    /* top: 40px !important; */
    font-weight: 1000;
    font-family: "Poppins", sans-serif;
}

#header .statistics p b {
    color: #000;
}

#header .board.commonWooden .multiBtn {
    position: relative;
    top: 30px;
    left: 22%;
}

#header .board.commonWooden .multiBtn img {
    width: 20px;
}

#startRightNow {
    margin-top: 120px;
    position: relative;
}

#startRightNow .midDiv {
    width: 100%;
    max-width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    position: relative;
    background-image: url("../img/Vector Smart Object-5.png");
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 50px 30px;
    z-index: 0;
}

#startRightNow .midDiv .boardImg {
    width: 400px;
}

#startRightNow .midDiv .rightNow,
.modal .middleHeader {
    background-image: url("../img/badgeWooden.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 42px;
    top: 0px;
    width: 100%;
    left: 26%;
    max-width: 44%;
    background-size: auto;
    color: #fff !important;
    font-family: "Bangers", cursive !important;
    display: grid;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
#startRightNow .midDiv .rightNow{
    font-size: 18px;
    letter-spacing: 5px;
}

#startRightNow .midDiv .multiDiv {
    padding: 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#startRightNow .midDiv p {
    font-family: Nexa-Bold !important;
    color: #00669b;
    font-weight: 700;
}

#startRightNow .midDiv .multiDiv .leftDiv,
#startRightNow .midDiv .multiDiv .rightDiv {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#startRightNow .midDiv .multiDiv .leftDiv p,
#startRightNow .midDiv .multiDiv .rightDiv p {
    text-align: left;
    font-size: 12px;
    margin-left: 20px;
}

#startRightNow .midDiv .multiDiv .leftDiv img,
#startRightNow .midDiv .multiDiv .rightDiv img {
    width: 80px;
}

#startRightNow .midDiv .startNow {
    background-image: url("../img/badgeWooden.png");
    background-repeat: no-repeat;
    margin: auto;
    height: 42px;
    width: 100%;
    max-width: 44%;
    background-size: auto;
    color: #fff;
    font-family: "Bangers", cursive !important;
    display: grid;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

#startRightNow .midDiv .startNowView .leftDiv {
    justify-content: space-between;
    padding: 0px 30px;
}

#startRightNow .midDiv .startNowView .leftDiv .imgDiv img {
    width: 200px;
}

#startRightNow .midDiv .advantagesList ul {
    list-style: none;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

#startRightNow .midDiv .advantagesList img {
    width: 65px;
    margin: 0px 10px;
    height: 70px;
}

#startRightNow .midDiv .advantagesList ul li p {
    font-size: 12px;
}

#startRightNow .stairDiv {
    z-index:-9999;
    background-image: url("../img/newstair.png") !important;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    position: relative;
    top: -90px;
    width: 100%;
    max-width: 30%;
    margin: auto;
}

#startRightNow .stairDiv .listContent {
    position: absolute;
    top: 200px;
    left: 3%;
    width: 100%;
    text-align: center;
}

#startRightNow .stairDiv .listContent p {
    font-family: Snap;
    color: #3e0f5f;
    margin-bottom: 10px;
}

#startRightNow .stairDiv .listContent p:last-child {
    font-size: 14px;
}
#startRightNow .stairDiv .firstChild {
    position: relative;
    top: 15px;
    transform: rotate(1deg);
}

#startRightNow .stairDiv .secondChild {
    position: relative;
    top: 67px;
    transform: rotate(1deg);
}

#startRightNow .stairDiv .thirdChild {
    position: relative;
    top: 110px;
    transform: rotate(4deg);
}
#startRightNow .stairDiv .forthChild {
    position: relative;
    top: 132px;
    line-height: 2;
    right: 44px;
    transform: rotate(0deg);
}


#startRightNow .stairDiv .forthChild .fifthChild-h2 {
    position: relative;
    top: 133px;
    right: 43px;
    line-height: 2;
}

#startRightNow .stairDiv .fifthChild .fifthChild-p{
    position: relative;
    top: 205px;
}
#startRightNow .stairDiv .fifthChild {
    position: relative;
    top: 187px;
}
p#fifthChild-h2 {
    transform: rotate(3deg);
    padding-left: 13%;
}
p#fifthChild-p {
    transform: rotate(3deg);
    padding-right: 75px;
}

#startRightNow .midDiv .menuBox {
    background-image: url("../img/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 100px;
    right: -450px;
}

#startRightNow .midDiv .menuBox .listView {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#startRightNow .midDiv .menuBox .listView img {
    width: 80px;
}

#startRightNow .midDiv .menuBox .listView .listdiv {
    margin: 10px;
}

#startRightNow .midDiv .menuBox .menuList {
    padding: 45px;
}

#startRightNow .midDiv .menuBox .menuList p {
    color: #5e3700;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}

#startRightNow .midDiv .multiBox {
    display: flex;
    width: 94%;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
    height: auto;
}

#startRightNow .midDiv .multiBox .imgBoxInput{
    width: 25%;
    margin-bottom: 20px;
}

#startRightNow .midDiv .multiBox .imgBoxInput img {
    width: 66px;
}

#startRightNow .midDiv .multiBox .imgBoxInput input {
    width: 40px;
    border: 1px solid #c68d40;
    border-radius: 3px;
    padding: 0px 5px;
}

.yourIncome span,
.detailBox p:last-child {
    color: #5e3700 !important;
    font-weight: 600 !important;
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

button.signUpBtn {
    background: #005c8b;
    width: 150px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px 5px 40px 40px;
    margin-bottom: 30px;
}

.detailBox {
    padding: 30px 20px 0px;
}

.detailBox p {
    text-align: left;
    margin-bottom: 10px;
    color: #000 !important;
    font-weight: 300 !important;
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

.notePara {
    background-color: #e6ceaf;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    margin: auto;
    text-align: left;
    color: #000 !important;
    font-family: Nexa-Regular !important;
    font-size: 12px;
}

.dailyBonusTable table {
    width: 100%;
}

.dailyBonusTable table thead td {
    color: #5e3700 !important;
    font-weight: 600;
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

.dailyBonusTable table tbody td,
.dailyBonusTable table thead td {
    text-align: center;
}

.dailyBonustwo .bgColor p {
    color: #000 !important;
    font-weight: 400 !important;
}

.commonBox {
    display: flex;
    width: 100%;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #e3ab5d;
    padding: 20px;
    border-radius: 8px;
}

.commonBox .detailDiv {
    text-align: left;
    width: 100%;
    padding-left: 30px;
}

.milkWhareHouse .commonBox .detailDiv .title {
    font-family: "Source Serif Pro", serif !important;
    color: #5e3700 !important;
    font-weight: 600 !important;
    font-size: 14px;
}

.commonBox img {
    width: 80px;
}

.commonBox .detailDiv p,
.profileDetails p {
    color: #5e3700 !important;
    font-weight: 300 !important;
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

.commonBox .detailDiv hr {
    border: 1px solid #e3ab5d;
}

.profileDetails {
    padding: 60px 0px;
}

.profileDetails .profileTable {
    margin: 50px 20px;
}

.profileDetails .profileTable table {
    width: 100%;
}

.profileDetails .profileTable table tr td {
    padding: 5px;
}

.profileDetails .profileTable table tr td {
    color: #5e3700 !important;
    font-weight: 400 !important;
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

.affiliateProgram p {
    font-family: Nexa-Regular !important;
    color: #5e3700 !important;
    font-weight: 400 !important;
    font-size: 12px;
}

.affiliateProgram .tabeDiv {
    display: flex;
    width: 100%;
    border: 1px solid #e3ab5d;
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}

.dailyBonus .notePara {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.affiliateProgram .tabeDiv p {
    width: 50%;
    padding: 5px;
    cursor: pointer;
    transition: all .5s;
}

.affiliateProgram .tabeDiv p.active {
    background-color: #ffddb4;
}

.scroll-rtl-milkWhareHouse .milkWhareHouse {
    padding: 10px 55px 10px 10px;
    direction: ltr;
}
.main-affiliateProgram{
    direction: rtl;
    padding: 30px 20px !important;
    height: 90% !important;
    overflow: auto  !important;
}
.affiliateProgram{
    direction: ltr;
}
.main-htmlDiv{
    margin-top: 3px;
    direction: rtl;
    overflow-x: hidden !important;
    height: auto;
}
.child-htmlDiv {
    direction: ltr;
    padding: 17px;
}
.main-promoDiv{
    padding: 0px 20px !important;
    margin-top: 3px;
    direction: rtl;
    overflow-x: hidden !important;
 
}
.promoDiv {
    direction: ltr;
}
.scroll-rtl-milkWhareSec{
    overflow: auto;
    height: 75%;
    direction: rtl;
}
form.milkWhareSec {
    direction: ltr;
}
.affiliateProgram tbody tr:nth-child(even),
.paymentTable tbody tr:nth-child(even) {
    background: #fff8ea;
}

.affiliateProgram tbody tr:nth-child(odd),
.paymentTable tbody tr:nth-child(odd) {
    background: #fff;
}

.affiliateProgram td {
    font-family: Nexa-Regular !important;
    padding: 5px;
    font-size: 12px;
}

.linkText {
    border: 1px solid #e3ab5d;
    padding: 5px;
    max-width: 80%;
    margin: auto;
    border-radius: 8px;
}

.linkText a {
    color: #000;
    line-break: anywhere;
}

table {
    width: 100%;
    order: none;
    border-collapse: collapse;
}

.amountDiv table thead td {
    text-align: center;
}

.paymentTable table thead tr {
    background-color: #5f3a0f;
}

.paymentTable table thead tr td {
    color: #fff;
    padding: 5px;
    font-family: "Source Serif Pro", serif;
    font-size: 14px;
}

.paymentTable table tr td {
    text-align: center;
    padding: 5px;
    font-family: "Source Serif Pro", serif;
    font-size: 14px;
}

.referralPromotion .detailBox p {
    color: #000 !important;
    font-weight: 300 !important;
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

.referralPromotion .title {
    text-align: center !important;
}

.referralPromotion .title span {
    text-align: center;
    color: #5e3700 !important;
    font-weight: 600 !important;
    font-family: Nexa-Bold !important;
}

.referralPromotion .detailBox p b,
.referralLink p b,
.alreadyPurchased p b {
    color: #5e3700 !important;
    font-family: Nexa-Bold !important;
}

.referralLink p,
.totalReferrals p,
.registration .detailBox p,
.registration .formDiv .acceptText,
.rulesProgram .rulesDiv p,
.changeEmail .bgColor p,
.cowShop .detailDiv p,
.alreadyPurchased p,
.cowShop .multipleDiv .commonDiv .detailCowDiv p,
.milkWhareHouse .milkWhareHouse p,
.aboutSection .bgColor p,
.dailyBonus tbody td,
.dailyBonustwo .bgColor p,
.calculateIncome .bgColor p {
    color: #000 !important;
    font-weight: 300 !important;
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

.advertisingBalance {
    background-color: #fdf1e4;
    border: 1px solid #fdd29e;
    padding: 10px 20px;
    width: 100%;
    max-width: 80%;
    margin: auto;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dailyBonus table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.advertisingBalance span,
.rulesProgram .rulesDiv .title,
.setting .formDiv .title,
.profileDetails p.title,
.profileDetails p,
.milkWhareHouse .notePara,
.dailyBonus thead td,
.calculateIncome .title {
    color: #7d3701 !important;
    font-family: Nexa-Bold !important;
    font-size: 14px;
}

.calculateIncome .title {
    text-align: center !important;
}

.commonBtn {
    background-image: url("../img/commonBtn.png");
    background-color: transparent;
    border: none;
    width: 220px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding: 16px 21px 20px;
    color: #fbeabf;
    font-family: Nexa-Regular !important;
}
#header .statistics #commonBtnn {
    background-image: url(../img/commonBtn.png);
    background-color: transparent;
    border: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 16px 21px 20px;
    color: #fbeabf;
    font-family: Nexa-Regular !important;
    background-size: contain;
    max-width: 44%;
    top: 39px;
}
#header .loginForm #commonBtn {
    background-image: url(../img/commonBtn.png);
    background-color: transparent;
    border: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 16px 21px 20px;
    color: #fbeabf;
    font-family: Nexa-Regular !important;
    background-size: contain;
    max-width: 27%;
}

.totalReferrals {
    margin: 30px 20px;
}

.totalReferrals table {
    margin: 20px 0px;
}

.totalReferrals thead,
.tableDiv table thead {
    background-color: #e5cdaf;
}

.totalReferrals thead tr td {
    color: #7d3701 !important;
    font-weight: 300 !important;
    font-family: Nexa-Regular !important;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

.registration .detailBox p {
    text-align: center;
}

.registration .formDiv .inputDiv,
.setting .formDiv .inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.registration .formDiv .inputDiv label,
.registration .formDiv .inputDiv input,
.registration .formDiv .inputDiv select,
.setting .formDiv .inputDiv label,
.setting .formDiv .inputDiv input,
.setting .formDiv .inputDiv select {
    width: 50%;
    font-family: Nexa-Regular !important;
    position: relative;
}

.invalid-feedback{
    position: absolute;
    font-size: 10px;
    bottom: -16px;
    right: 0px;
    color: red;
    font-family: Nexa-Regular !important;
}

.registration .formDiv .inputDiv label,
.setting .formDiv .inputDiv label,
.cowShop .multipleDiv .commonDiv .detailCowDiv label {
    text-align: left;
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

.registration .formDiv,
.setting .formDiv {
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 20px;
}
.registration .formDiv .inputDiv{
    margin-bottom: 20px;
}
.main-descriptionDiv {
    height: 97%;
    overflow: scroll;
    overflow-x: hidden;
    direction: rtl;
 }
 .descriptionDiv{
     direction:ltr;
 }
.setting .main-formDiv{
    width: 100%;
    max-width: 91%;
    margin: auto;
    padding: 20px;
    overflow: auto;
    height: 93%;
    margin-top: 55px;
    direction: rtl;
}
.setting .formDiv {
    direction: ltr;
}

.registration .formDiv input,
.registration .formDiv .inputDiv select,
.setting .formDiv input,
.setting .formDiv .inputDiv select {
    border: 1px solid #ffd9a9;
    padding: 5px;
    border-radius: 6px;
}

.registration .formDiv .acceptText input {
    width: auto;
}

.registration .formDiv .acceptText {
    display: flex;
    justify-self: unset;
}

.rulesProgram .rulesDiv p {
    text-align: left;
    margin-bottom: 10px;
}

.rulesProgram .rulesDiv {
    /* padding: 20px; */
    height: 500px;
}

.rulesProgram .rulesDiv p a {
    color: #ffd9a9;
    font-family: Nexa-Bold !important;
}
.rulesProgram .rulesDiv .main-rulesPara{
    direction: ltr;
    width: 100%;
    max-width: 96%;
}
.rulesProgram .rulesDiv .rulesPara {
    overflow: scroll;
    height: 400px;
    padding: 10px 20px;
    overflow-x: hidden;
    width: 100%;
    max-width: 90%;
}

.setting .formDiv .title {
    margin-bottom: 20px;
}

.setting .formDiv hr {
    border: 1px solid #ffd9a9;
}

.cowShop .detailDiv p {
    text-align: left;
}

.cowShop .detailDiv {
    direction: ltr;
    padding: 0px 30px 1px 0px;
}

.cowShop .scroll-rtl {
    overflow: scroll;
    height: 120px;
    padding: 20px 45px 20px 20px;
    overflow-x: hidden;
    direction: rtl;
}

.alreadyPurchased {
    background-color: #e6ceaf;
    text-align: left;
    padding: 5px;
    margin: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cowShop .detail-scroll-rtl {
    height: 300px;
    overflow: scroll;
    direction: rtl;
}
.cowShop .multipleDiv {
    direction: ltr;
}

.cowShop .multipleDiv .commonDiv {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ffd9a9;
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cowShop .multipleDiv .commonDiv .detailCowDiv {
    text-align: left;
}

.cowShop .multipleDiv .commonDiv .detailCowDiv h5 {
    color: #7d3701 !important;
    font-size: 14px;
    padding-bottom: 5px;
}

.cowShop .multipleDiv .commonDiv .detailCowDiv p {
    padding-bottom: 5px;
}

.cowShop .multipleDiv .commonDiv .detailCowDiv input {
    border: 1px solid #ffd9a9;
    padding: 5px;
    border-radius: 6px;
    width: 60px;
}

.cowShop .multipleDiv .commonDiv .detailCowDiv button {
    padding: 6px 18px;
    background: #00669b;
    border: none;
    color: #fff;
    border-radius: 6px;
}

.bgColor {
    background-image: url(../img/bgColor.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    height: 86%;
    overflow: scroll;
    overflow-x: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px !important;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: -6px;
    bottom: 2px;

    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mobileMenu {
    height: 100%;
    position: fixed;
    width: 300px;
    z-index: 999999999;
    background: #ead5b4;
    top: 69px;
    display: none;
    left: 0;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    box-shadow: 0px 13px 10px rgb(0 0 0 / 70%);
    overflow: auto;
    border-top: 1px solid #d1b7a2;
}

.mobileMenu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.headerMenu {
    display: none;
    width: 80%;
}

.headerMenu ul {
    padding: 0px;
    list-style: none;
    display: flex;
}

.headerMenu ul li {
    padding: 0px 7px;
    text-align: center;
}

.headerMenu ul li p {
    color: #7d3701 !important;
    font-weight: 300 !important;
    font-family: Nexa-Bold !important;
    font-size: 12px;
}

.headerMenu ul li .listdiv img {
    width: 50px;
}

.menuBtn {
    background: #f8d06b;
    z-index: 99999;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: #b57a4b;
    display: none;
    border: 1px solid #b57a4b;
    box-shadow: 0px 2.2px 1px -1px #4d3a26 !important;
    height: 20%;
}

.loginUser .addFunds {
    position: relative;
    top: -12px;
}

.loginUser .withDrawFunds {
    position: relative;
    top: 0px;
    display: flex;
}

.loginUser .myProfile {
    position: relative;
    top: 9px;
}

.loginUser .accountSetting {
    position: relative;
    top: 15px;
}

.loginUser .signInText {
    left: 90px !important;
}
.header_col2 a{
    position:relative;
    top:33px;
}
.header_col1 .inputView{
    position:relative;
    top:4px;
}
#header .loginUser {
    min-width: 135px;
}

.statistics.loginUser p {
    display: block !important;
    text-align: center;
    position: relative;
    /* top: 27px !important; */
}

.loginUser .paymentText {
    left: 40% !important;
}

.payment.loginUser p {
    position: relative;
    top: 30px;
    text-align: center;
    /* font-family: "Source Serif Pro", serif !important; */
    font-family: "Poppins", sans-serif !important;
    font-size: 12px;
    padding: 5px;
    color: #00000085;
    font-weight: 1000;
}

.support p.title,
.support p.yourIncome {
    color: #000 !important;
    font-size: 14px;
    margin-bottom: 20px;
}

.support p.title {
    font-weight: 600 !important;
}

.support p.yourIncome {
    font-weight: 300 !important;
    margin-top: 20px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f7dab7;
    height: 6px;
}

.multiImg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: auto;
    margin-top: 25px;
}

.multiImg img {
    width: 80px;
}

.promoMaterial .multiSelect .selectOption {
    width: 15%;
    padding: 5px 10px;
    border: 1px solid #d7cdcd;
    border-radius: 4px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.promoMaterial .multiSelect .selectOption p {
    color: #000 !important;
    font-family: Nexa-Regular !important;
    font-weight: 500 !important;
    font-size: 14px;
}

.promoMaterial .multiSelect {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.box textarea {
    width: 100%;
    text-align: center;
}

.htmlDiv {
    margin: 30px 0px;
}

.htmlDiv p {
    margin-bottom: 30px;
    font-family: Nexa-Regular !important;
    color: #000 !important;
    font-size: 14px;
}

.orderPayoff .inputDiv label {
    width: 80%;
    text-align: left;
}

.orderPayoff .inputDiv input {
    width: 20%;
}

.orderPayoff .inputDiv {
    display: flex;
    justify-content: space-between;
}

.formDiv .inputDiv input,
.formDiv .inputDiv select {
    border: 1px solid #c68d40;
    border-radius: 3px;
    padding: 0px 5px;
}

.formDiv .inputDiv select {
    margin-right: 10px;
}

.formDiv .inputDiv label,
.tableDiv p {
    font-family: Nexa-Regular !important;
    color: #000 !important;
    font-size: 13px;
}

.formDiv .inputDiv {
    margin-bottom: 15px;
    position: relative;
}

.formDiv {
    margin: 30px 0px;
}

.tableDiv table {
    margin: 20px 0px;
}

.tableDiv table thead td {
    padding: 5px;
    font-family: Nexa-Regular !important;
    font-size: 14px;
    color: #c68d40;
}

.tableDiv table tbody td {
    padding: 10px;
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

.crystalDiv .descriptionDiv p {
    text-align: left;
    color: #000 !important;
    font-size: 14px;
}

.crystalDiv .multiCrystalDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0px;
    padding: 20px 0px;
    border-top: 1px solid #b57a4b;
    border-bottom: 1px solid #b57a4b;
}

.crystalDiv .multiCrystalDiv .commonDiv{
    margin: 0px 10px;
}

.crystalDiv .multiCrystalDiv .commonDiv p {
    text-align: center !important;
    font-size: 14px;
    color: #b57a4b !important;
}

.crystalInstruction p,
.questionDiv p {
    font-weight: 500 !important;
}

.questionDiv {
    margin: 10px 0px;
}

.crystalDiv p span {
    color: #b57a4b;
}

.modal-dialog {
    max-width: 90%;
}

.modal .middleHeader {
    left: 40%;
    max-width: 23%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 15px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    border-radius: 8px;
    background-color: #fff5e0;
    border: 3px solid #763202;
    margin: auto;
    padding: 20px;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.orderPayCard .payoffHeader {
    padding: 20px 40px;
}

.orderPayCard .payoffHeader p {
    font-family: Nexa-Regular !important;
    font-size: 14px;
    color: #000 !important;
}

.multiCards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .multiCards .cardDiv {
    width: 32%;
} */

.multiCards .cardDiv img {
    width: 120px;
    height: 82px;
}

.multiPackage .packageDiv {
    width: 15%;
    background: #ffe8b9;
    border: 1px solid #7b3601;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.multiPackage .packageDiv::before {
    content: "";
    background-image: url(../../../images/tag.png);
    background-size: 100% 100%;
    position: absolute;
    top: -8px;
    left: -5px;
    width: 50px;
    height: 50px;
}
.logoutBtn {
    position: relative;
    top: 5px;
    text-align: center;
    left: 70px;
}
.logoutBtn span{
    position: absolute;
    top: 25px;
    z-index: 999;
    background: #005f90;
    color: #fff;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 12px;
    display: none;
    transition: all .5s;
    right: 40px;
}
.logoutBtn a:hover span{
    display: block;
}
.logoutBtn img {
    width: 100%;
    max-width: 25px;
}

.multiPackage .packageDiv button {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #793402;
    border: none;
    padding: 5px;
    color: #fff;
}

.multiPackage .packageDiv .percentText {
    top: 11px;
    position: absolute;
    left: 1px;
    color: #fff;
    transform: rotate(-45deg);
    font-family: Nexa-Bold !important;
    font-size: 16px;
}
.modalBody p {
    font-family: Nexa-Regular !important;
   font-size: 14px;
}
.modalBody p:nth-child(1){
    font-size: 19px;
    font-family: Nexa-Regular !important;
}


.multiPackage .packageDiv img {
    margin: 20px 0px;
}

.multiPackage .packageDiv span {
    text-decoration: line-through;
}

.multiPackage {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.horizontalLine {
    width: 100%;
    height: 1px;
    background: #ffe8b9;
    position: relative;
    margin: 40px 0px;
}

.horizontalLine p {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    background: #ffe8b9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    top: -23px;
}

.customAmount {
    text-align: center;
    background: #ffe8b9;
    padding: 10px;
    border-radius: 7px;
}

.customAmount label {
    font-family: Nexa-Regular !important;
    font-size: 14px;
}

.customAmount input,
.checkoutOrder .inputDiv input {
    border: 1px solid #c68d40;
    border-radius: 3px;
    padding: 5px;
}
.customAmount input{
    padding: 5px;
}

.checkoutOrder {
    margin: 40px 0px;
}

.checkoutOrder .inputDiv {
    display: flex;
    align-items: center;
}

.checkoutOrder .inputDiv label:nth-child(1) {
    font-size: 19px;
    margin-right: 30px;
    font-family: Nexa-Regular !important;
}

.twoThreeStep {
    width: 100%;
    display: flex;
}

.twoThreeStep .checkoutOrder {
    width: 35%;
    text-align: center;
    pointer-events: none;
}

.twoThreeStep .imgTable {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffe8b9;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 8px;
    width: 100%;
    max-width: 90%;
}

.twoThreeStep .imgTable table {
    margin-left: 50px;
}

.twoThreeStep .imgTable table td {
    font-family: Nexa-Regular !important;
    font-size: 14px;
    padding: 5px;
}

.twoThreeStep .imgTable table thead {
    border-bottom: 1px solid #f7bb41;
}

.twoThreeStep .paymentMethod {
    width: 50%;
    padding: 38px;
    pointer-events: none;
}

.twoThreeStep .paymentMethod label {
    text-align: left;
    font-size: 19px;
    font-family: Nexa-Regular !important;
}

.paymentMulti {
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.paymentMulti img {
    width: 90px;
    height: 60px;
    margin-right: 10px;
}


.silverBlock{
    display: none;
}
.detailBox p{color:#5e3700 !important;}

#header .rightHeader{
    position: absolute;
    top: 50px;
    right: 10px;
}
#header .rightHeader ul{
    list-style: none;
    padding: none;
    margin: none;
}
#header .rightHeader ul li{
    text-align: center;
    margin-bottom: 20px;
}
#header .rightHeader select:focus{
    outline: none;
}
#header .rightHeader select{
    background: #d69434;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.leftSideContent{
    position: absolute;
    left: 170px;
    top: 50px;
}
.leftSideContent ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.commonBoard{
    position: relative;
    width: 200px;
    height: 180px;
}
.commonBoard img{
    width: 100%;
    height: 100%;
}
.commonBoard p{
    top:70px;
    font-size: 24px !important;
    font-family: "Bangers", cursive !important;
    color: #005f90 !important;
    text-align: center;
    display: block !important;
}
.registerHeader .commonWooden{
    background-image: url("../img/logoBadge.png") !important;
}
#buyCow .modal-content{
    width: 25%;
    background-image: url(../img/Group\ 36.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30%;
    border: none;
    position: relative;
}
#buyCow .modalHeader{
    margin-bottom: 30px;
    position: absolute;
    top: 10%;
    left: 29%;
}
#buyCow .modalHeader h1{
    color: #fff;
    font-size: 18px;
    font-family: "Bangers", cursive;
    letter-spacing: 2px;
}
#buyCow .modalBody{
    position: absolute;
    top: 40%;
    text-align: center;
    left: 10%;
    width: 100%;
    max-width: 80%;
}
#buyCow .close{
    color: #00669b;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    right: 13px;
}
#buyCow .modalBody p{
    font-size: 18px;
    font-family: Nexa-Bold !important;
    color: #7d3701 !important;
}
/*********** Media Query ************/

@media (max-width: 1400px) {
  

    .copyText{
        right: 0px !important;
    }
    #startRightNow .midDiv p{
        font-size: 12px;
    }
    #startRightNow .midDiv {
        max-width: 26%;
        background-size: 100% 100%;
    }
    #startRightNow .midDiv .advantagesList ul{
        padding: 0px 30px;
    }
    #startRightNow .midDiv .advantagesList img{
        width: 50px;
        height: 50px;
    }
    #startRightNow .midDiv .advantagesList ul li p{
        font-size: 10px;
    }
    p#fifthChild-p{
        padding-right: 0px;
    }
    #startRightNow .midDiv .multiDiv .leftDiv p, #startRightNow .midDiv .multiDiv .rightDiv p{
        margin-left: 5px;
    }
    #startRightNow .midDiv .multiDiv .leftDiv img, #startRightNow .midDiv .multiDiv .rightDiv img{
        width: 60px;
    }
}

@media (max-width: 1200px) {
    
    #header .rightHeader {
        position: absolute;
        top: 50px;
        right: -30px;
    }
    #startRightNow .midDiv .menuBox{
        right: -420px;
    }
    #startRightNow .stairDiv {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    #header .loginForm .inputDiv{
        max-width: 90% !important;
    }
    #startRightNow .midDiv .advantagesList{
        width: 100%;
max-width: 80%;
margin: auto;
    }
    #startRightNow .midDiv .advantagesList ul{
        padding: 0px;
    }
    #header .rightHeader {
        position: absolute;
        top: 50px;
        right: -290px;
    }
    #startRightNow .stairDiv {
        max-width: 60%;
    }

    #header table {
        min-width: 900px;
    }
    .main-promoDiv{
        padding: 0px !important;
    }
    .htmlDiv img{
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    #buyCow .modal-content{
        width: 50%;
        overflow: hidden;
    }
   
    .copyText{
        right: 36px !important;
    }
    #startRightNow .midDiv .rightNow{
        font-size: 15px;
    }
    #header .commonWooden .multiBtn{
        position: absolute;
        top: 50px;
        left: 40px;
    }
    .registerHeader .commonWooden .multiBtn:last-child{
        top: 50px;
        left: 40px;
    }
    #header .commonWooden .multiBtn:last-child{
        top: 10px;
        left: 0px;
    }
    .registerHeader .commonWooden .multiBtn:last-child{
        top: 100px !important;
        left: 50px !important;
    }
    .mobileMenu #login .multiBtn button{
        margin: 0px !important;
    }
    #login .formDiv .inputDiv input{
        width: 80% !important;
    }
    .registration .nav-pills{
        width: 92% !important;
        left: 4% !important;
    }
    #startRightNow .midDiv.registration .rightNow a{
        font-size: 12px;
    }
    .commonBoard p{
        position: absolute;
        left: 0%;
        top: 80px;
        width: 100%;
    }
    .commonBoard{
        width: 100%;
    }
    .registerHeader .loginForm h2{
        font-family: "Bangers", cursive;
        text-align: center;
        color: #005f90;
        font-size: 45px;
        position: relative;
        top: 82px;
    }
    .leftSideContent{
        position: relative;
    }
    /* .htmlDiv img{
        width: 100% !important;
    } */
    #header .statistics #commonBtn{
        top: initial;
    }
    .mobileMenu #login .inputView{
        position: relative;
        top: 24px;
    }
    .mobileMenu #login .multiBtn{
        position: relative;
        top: 12px;
        right: 0px;
    }
    #header .commonWooden .mobileStatistics #commonBtn{
        padding: 5px 4px 12px;
    max-width: 53% !important;
    }
    .mobileMenu .multiImg img {
        width: 50px;
        height: 50px;
    }
    /* .mobileMenu .payment{
        position: relative !important;
        top: -63px !important;
    } */
    /* .mobileMenu .board{
        position: relative !important;
        top: -73px !important;
    } */
    .mobileMenu #login .multiBtn button,
    .mobileMenu #login .multiBtn a,
    #header .commonWooden .mobileStatistics #commonBtn a{
        width: initial !important;
        text-align: center;
        margin: 0px 5px;
        background: transparent;
        border: 0px solid #00000085;
        color: #fff;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        border-radius: 3px;
        font-size: 12px;
    }
    .mobileMenu #login .multiBtn #commonBtn{
        width: 20% !important;
    }
    #startRightNow .midDiv .advantagesList{
        max-width: 100%;
    }
    #startRightNow .midDiv .advantagesList li{
        width: 22%;
    }
#startRightNow .midDiv .multiDiv{
    margin-bottom: 30px;
}
    .twoThreeStep{
        display: block;
        margin-top: 30px;
    }
    .twoThreeStep .checkoutOrder,
    .twoThreeStep .paymentMethod{
        width: 100%;
        margin: 10px;
        padding: 0px;
    }
    .modal{
        top: 8%;
    }
    .modal-content{
        max-width: 90%;
        height: 80%;
        overflow: scroll;
    }
    .modalBody .multiPackage{
        display: flex !important;
        flex-wrap: wrap;
    }
    .modalBody .multiPackage .packageDiv{
        width: 10%;
    }
    .modalBody p{
        font-size: 10px;
    }
    #startRightNow .midDiv .multiBox{
        width: 100%;
    }
    #startRightNow .midDiv .multiBox .imgBoxInput img,
    .multiPackage .packageDiv img{
        width: 30px;
    }
    .logoutBtn{
        top: 46px;
    text-align: center;
    left: 83px;
    }
    .loginForm .formDiv{
        margin: 0px;
    }
    .bgColor {
        background-size: inherit;
    }
    .multiPackage {
        display: block;
    }
    .loginUser .addFunds {
        top: 23px;
    }

    .loginUser .withDrawFunds {
        top: 35px;
    }

    .loginUser .myProfile {
        top: 48px;
    }

    .loginUser .accountSetting {
        top: 64px;
    }

    .statistics.loginUser p {
        top: 77px !important;
    }
    .mobileMenu .payment.loginUser p{
        top: 76px;
    }
    .mobileMenu .loginUser .addFunds{
        top: -10px;
    }
    .mobileMenu .loginUser .withDrawFunds {
        top: 0px;
    }
    .mobileMenu .loginUser .myProfile {
        top: 10px;
    }
    .mobileMenu .loginUser .accountSetting {
        top: 22px;
    }
    
    
    
    
    .payment.loginUser p {
        top: 100px;
    }

    #startRightNow .stairDiv .listContent p {
        font-size: 12px;
        padding: 0px;
    }

    #startRightNow .stairDiv .listContent p:last-child {
        font-size: 10px;
    }

    #startRightNow .stairDiv .listContent .firstChild {
        position: relative;
        top: 18px;
    }

    #header {
        display: flex;
    }

    #header .statistics {
        position: relative;
        top: -7px;
    }

    #startRightNow .stairDiv .secondChild {
        top: 80px;
    }

    #startRightNow .stairDiv .thirdChild {
        top: 130px;
    }

    #startRightNow .stairDiv .forthChild {
        top: 167px;
    }

    #startRightNow .stairDiv .fifthChild {
        top: 235px;
    }

    #header .statistics button {
        bottom: 11%;
        left: 30%;
    }

    #header .payment {
        top: -16px;
    }

    #header .board {
        top: -27px;
    }

    #header .board.commonWooden .multiBtn {
        top: 45%;
        left: 26%;
    }

    #header .board.commonWooden .multiBtn img {
        width: 33px;
    }

    #header .commonWooden {
        width: 100%;
        max-width: 80%;
        margin: auto;
        height: 200px;
    }

    /* #header .statistics p {
        position: relative;
        top: 53px;
    } */

    .menuBtn,
    .headerMenu {
        display: block;
    }

    #header table,
    #startRightNow .midDiv .menuBox {
        display: none;
    }

    #startRightNow .midDiv {
        max-width: 70%;
    }

    #header {
        padding: 0px 20px;
        margin-bottom: 50px;
        background: #ead5b4;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99999999;
        justify-content: space-between;
        align-items: center;
    }
    #startRightNow .midDiv{
        max-width: 70% !important;
    }
    #header .loginForm .formDiv{
        padding: 0px;
        position: relative;
        top: 50px;
    }
    #header .commonWooden .mobileStatistics{
        position: relative;
        top: 73px;
        width: 100%;
        max-width: 90%;
        margin: auto;
    }
    #header .statistics .mobileStatistics button{
        top: initial;
        bottom: initial;
    }
    #header .mobilePayment{
        position: relative;
        top: 100px;
    }
    .main-promoDiv{
        padding: 0px !important;
        direction: initial;
    }
    /* .mobileMenu .board{
        top: -27px !important;
    } */
    .mobileMenu{
        height: 93vh;
        overflow: scroll;
        overflow-x: hidden;
    }
    /* .mobileMenu .payment{
        top: -16px !important;
    } */
}

@media (max-width: 568px) {
    .dailyBonusTable table thead td{
        font-size: 10px;
    }
    .dailyBonustwo .imgText{
        display: block;
    }
    .linkCopy p{
        font-size: 9px !important;
    }
   
    .twoThreeStep .imgTable table td {
        font-size: 11px;
        text-align: left;
    }
    .twoThreeStep .imgTable table {
        margin-left: 0px;
    }
    .horizontalLine p{
        left: 40%;
    }
    .twoThreeStep .paymentMethod label{
        font-size: 12px;
    }
    .paymentMulti img {
        width: 79px;
        height: 50px;
    }
    .checkoutOrder .inputDiv label:nth-child(1){
        font-size: 12px;
        margin-right: 2px;
    }
    .twoThreeStep .checkoutOrder, .twoThreeStep .paymentMethod{
        margin: 0px;
    }
    .multiCards{
        flex-wrap: wrap;
    }
    .modalBody .multiPackage .packageDiv{
        width: 30%;
        margin-bottom: 10px;
    }
    .promoMaterial .multiSelect .selectOption{
        width: 14%;
    }
    .copyText{
        right: -10px !important;
    }
    .cowShop .multipleDiv .commonDiv{
        max-width: 100%;
        width: 80% !important;
    }
    .setting .main-formDiv{
        padding: 20px 0px;
    }
    .profileDetails .profileTable{
        margin: 50px 0px;
    }
    .registration .formDiv, .setting .formDiv{
        max-width: 90%;
    }
    .registration .formDiv .inputDiv select,
    .setting .formDiv .inputDiv input,
    .setting .formDiv .inputDiv select{
        font-size: 12px;
    }
    #startRightNow .midDiv .multiBox .imgBoxInput{
        width: 34%;
    }
    #startRightNow .midDiv .multiBox{
        justify-content: space-around !important;
    }
    #startRightNow .midDiv .multiBox .imgBoxInput label{
        font-size: 9px !important;
    }
    .menuBtn {
        background: #f8d06b;
        z-index: 99999;
        padding: 5px 10px;
        font-size: 14px;
    }

    .headerMenu ul li .listdiv img {
        width: 20px;
        margin-bottom: 5px;
    }

    .headerMenu ul li p {
        font-size: 8px;
    }

    #startRightNow .midDiv p {
        font-size: 12px;
    }
    .setting .formDiv .inputDiv label{
        font-size: 10px;
    }
    .commonBtn{
        width: 150px;
        background-size: contain;
        font-size: 12px;
    }
    .profileDetails .profileTable table tr td{
        font-size: 10px;
        line-break: anywhere;
    }
    #startRightNow .midDiv,
    #startRightNow .stairDiv {
        max-width: 80%;
    }

    #startRightNow .midDiv .menuBox .listView img {
        width: 50px;
    }

    #startRightNow .midDiv .menuBox {
        right: -65%;
    }

    #header .commonWooden {
        min-width: 200px;
    }

    #startRightNow {
        padding: 80px 0px;
    }

    #startRightNow .midDiv .multiDiv .leftDiv img,
    #startRightNow .midDiv .multiDiv .rightDiv img {
        width: 40px;
    }

    #startRightNow .midDiv .advantagesList img {
        width: 40px;
        height: 40px;
    }

    #startRightNow .midDiv .startNowView .leftDiv .imgDiv img {
        width: 120px;
    }

    #startRightNow .midDiv .startNowView .leftDiv,
    #startRightNow .midDiv .advantagesList ul {
        padding: 0px;
    }

    #startRightNow .midDiv .multiDiv .leftDiv p,
    #startRightNow .midDiv .multiDiv .rightDiv p {
        margin-left: 5px;
    }

    #startRightNow {
        margin-top: 10px;
    }

    #startRightNow .stairDiv .listContent .firstChild {
        top: 20px;
    }

    #startRightNow .stairDiv .secondChild {
        top: 81px !important;
        transform: rotate(0deg);
    
    }

    #startRightNow .stairDiv .thirdChild {
        top: 135px;
        transform: rotate(6deg);
    }

    #startRightNow .stairDiv .forthChild {
        top: 164px;
        left: -36px;
        line-height: 3;
        transform: rotate(1deg);
    }

    #startRightNow .stairDiv .fifthChild {
        top: 218px;
        transform: rotate(6deg);
        left: 2px;
    }
    #startRightNow .midDiv .multiDiv,
    #startRightNow .midDiv .multiDiv .leftDiv, 
    #startRightNow .midDiv .multiDiv .rightDiv{
        align-items: initial;
    }
    #startRightNow .midDiv .multiDiv .leftDiv p, #startRightNow .midDiv .multiDiv .rightDiv p{
        margin-top: 0px;
    }
    p#fifthChild-h2 {
        transform: rotate(0deg);
        padding-left: 6%;
    }
    p#fifthChild-p {
        transform: rotate(0deg);
        padding-right: 38%;
    }
}
.htmlDiv .imgDiv{
    
}

@media (max-width: 375px){
#startRightNow .midDiv .multiDiv {
    margin-bottom: 50px;
}
}
@media (max-width: 320px){
    #startRightNow .midDiv .multiDiv {
        margin-bottom: 70px;
    }
}

